body{
    background-color:  #92412e;
    /* background-image: linear-gradient(#92412e, #cfb2ac); */
    margin:0px;
    margin-top: 0%;
    /* border: 5px blue solid; */
    
}

.container{
    /* border:5px red solid; */
    display: flex;
    height: 25vh;
    justify-content: center;

}
.small-contain{
    display: flex;
    height: 25vh;
    flex-direction: column;
    /* border: yellowgreen solid; */
    justify-content: center;
    text-align: center;
    margin: 0%;
   
}

.logo{
    align-self: flex-start;
    border-radius: 50%;
    border: 5px solid black;
    height: 150px;
    margin-top: 10px;

}

h1 {margin:30px 0px 0px 0px;
    font-family: serif;
    font-size: 80px; 
    color: #000000;
    font-style: normal;
    /* border: 5px orange solid; */
}

h3 {display: block;
    margin: 0 0 0 0;
    font-family: serif;
    font-size: 20px; 
    color: #000000;
    font-style: normal;
    /* border: 5px orange solid; */
}
.space{
    /* border: 10px #04e2ff solid; */
    width: 20%;
    margin: 0%;
}
.spaceIntro{

}


.hrBlack{
    border: 4px black solid;
    margin: 5vh 10% 5vh 20% ;
    border-radius: 50%;


}
.back{
    /* border: 5px #215807 solid; */
    display: flex;
    flex-direction: column;
}

.link{
    background-color: #f2b476;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border: 5px #000000 solid;
    font-family:Georgia, 'Times New Roman', Times, bold, serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 2px 2px 0 0  #92412e,
         5px 5px 0 0 black;
        transition-duration: 200ms;
}

.link:hover{
    box-shadow: 3px 3px #92412e, 7px 7px 0 0 black;
    transform: translate(-2px,-2px);
}
ul{ width:100;
    /* border:5PX solid #ff0000; */
    display: flex;
    gap:30px;
    justify-content: center;

}

#greeting{color: #000000;
    font-size: 13vh;
    text-align: center;
    font-family: "Oleo Script", system-ui;
    padding: 0%;
    margin: 10PX;
    background-color: #f2b476;
    border: black solid 10px;
}
  

.headshot_contain{
    display: flex;
    flex-direction:row;
    justify-content: center;
    /* border: 5px rgb(255, 0, 0) solid; */

}

.intro-header{
    display: flex;
    flex-direction: column;
    font-style: bold;
    font-weight: 400;
    font-style: normal;
    width: 150vh;
    margin-right: 5vh;
    /* border: 5px rgb(128, 0, 79) solid;    */
}

.headshot{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid black;
    /* border: 5px rgb(255, 0, 153) solid; */
}
.brief{
    background-color: #92412e;
    width: 80%;
    margin: 20px 10% 0% 10%;
    color: black;
    font-size:1.5em;
    text-align: center;
        font-weight: 100;
        font-style: normal;
    /* border:5px purple solid; */
      }


li{
    display: inline-flex;
}

